<div class="cardcontainer" id="cardcontainer">

  <div class="card" id="card" style="background-color: pink">
    <!-- header -->
    <h2 id=heading>Jing-Ting Dong at the Library</h2>
    <!-- img -->
    <img src="https://i.imgur.com/XPC2j0i.jpg" alt="Card Image">
    <div class="card-content">
   <!-- body paragraph -->
      
      
  <p id="paragraph">Hi my name is Jing-Ting Dong. This is an image of me giving a thumbs up at the library while working on this coding project. I like cabbage. I also like bacon. I really like eating but it gives me food coma. Bygolly, what a dilemma.</p>  
      <!-- hide paragraph button -->
    <button class="button" id="hideButton">Details</button>
      
    </div>
    </div>
  
  <!-- Buttons -->
  
  </div>
  
  <!-- Buttons -->
    <button id="duplicateButton">Duplicate Card</button>
   
  <button id="toggleButton">Toggle Background</button>
  
  <button id="changeHeadingButton">Change Heading</button>
  
  <button id="removeDuplicate">Remove A Card</button>
